<style>

.hero {
	background: url('/images/phone_mockup_2.jpg') no-repeat center center;
	background-size: cover;
	padding: 45px 0px;
}

.hero {
	color: #FFFFFF;
}

.section-1 {
	padding: 45px 0px 60px 0px;
	background-color: #F5F5F5;
}

.section-2 {
	padding: 45px 0px;
	
}

.request-beta-section {
	padding: 45px 0px;
	background-color: #F5F5F5;
}

.footer {
	padding: 45px 0px;
	background-color: #f5f5f5;
	color: #777;
}

.footer a {
	color: #777;
}

.footer a:hover {
	color: #444;
	text-decoration: none;
}

.main-request-button {
	margin-top: 80px;
}

@media (max-width: 768px) {
	
	
	h1 {
		font-size: 30px;
	}
	
	
	.screenshot {
		display: block !important;
		margin: 0px auto !important;
	}
}

@media (max-width: 640px) {
	.main-request-button {
		text-align: center;
		margin-top: 30px;
	}
	
	h1 {
		text-align: center;
	}
	
	p {
		text-align: center;
	}
	
	
}

</style>

<div class="hero">
	
	<nav class="navbar navbar-default">
		
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
		      	<a class="navbar-brand" href="/" style="padding-top: 0; padding-bottom: 0">
					<div style="width: 100%; height:100%">
						<span style="display: inline-block; height: 100%; vertical-align:middle;"></span>
		      			<img alt="Handshake" src="/images/logo.png" style="width: 200px; vertical-align: middle;" />
					</div>
		      	</a>
		    </div>
			
			<div class="collapse navbar-collapse" id="navbar-collapsable">
				<ul class="nav navbar-nav navbar-right text-center">
					<li><a href="mailto:contact@gethandshakeapp.com">Contact Us</a></li>
					<li>
						<p class="navbar-btn">
							<a href="#beta-invite" class="btn btn-primary">Request Beta Invite!</a>
						</p>
					</li>
				</ul>
			</div>
			
		</div>
		
	</nav>

	<div class="container">
	
		<div class="row">
		
			<div class="col-sm-7">
			
				<h1 style="margin-bottom: 30px">The easiest way to share your contact information.</h1>
				
				<p>Easily create a profile with as much or as little contact information as you want and connect with friends with the tap of a button. Add phone numbers, email addresses, home and work addresses, and even social network accounts to let the people you know contact you with ease.</p>
				
				<div style="margin-bottom: 50px;" class="main-request-button"><a href="#beta-invite" class="btn btn-primary" style="padding: 10px 24px">Request Beta Invite!</a></div>
			
			</div>
		
			<div class="col-sm-4 col-sm-offset-1">
			
				<img src="/images/user.png" class="img-responsive" style="margin: 0px auto" />
			
			</div>
		
		</div>
	
	</div>

</div>

<div class="section-1">
	
	<div class="container text-center">
		
		<h1 style="margin-bottom: 30px">All your contacts, always up to date.</h1>
		
		<div class="row">
			
			<div class="col-md-8 col-md-offset-2">
				
				<p>Never worry about you or your friends having outdated phone numbers or addresses again. Handshake automatically syncs and updates contact information straight to your phone's address book and instantly notifies you when one of your friends updates their information. </p>
				
			</div>
			
		</div>
		
	</div>
	
</div>

<div class="section-2" style="background-color: #EB8842; color: #ffffff">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-lg-9 col-lg-push-3 col-md-8 col-md-push-4 col-sm-7 col-sm-push-5">
				
				<h1 style="margin-bottom: 30px">Why add one person at a time when you can add everyone in an instant?</h1>
				
				<p style="margin-bottom: 50px">Create or join groups for any organization or event. Whenever someone joins a group they immediately become contacts with everyone else in that group, meaning no more asking for phone numbers or creating multiple contacts one by one.</p>
				
			</div>
			
			<div class="col-lg-3 col-lg-pull-9 col-md-4 col-md-pull-8 col-sm-5 col-sm-pull-7">
				
				<img src="/images/groups.png" class="img-responsive screenshot" style="height: 500px" />
				
			</div>
			
			
			
		</div>
		
	</div>
	
</div>

<div class="section-2">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-lg-9 col-md-8 col-sm-7">
				
				<h1 style="margin-bottom: 30px">See who's connecting with you and when their information changes.</h1>
				
				<p style="margin-bottom: 50px">The Handshake feed shows you the most recent activity in your friend group, including new contacts, new group members, and updated contact information.</p>
				
			</div>
			
			<div class="col-lg-3 col-md-4 col-sm-5 text-right">
				
				<img src="/images/home.png" class="img-responsive screenshot" style="display: inline-block; height: 500px" />
				
			</div>
			
		</div>
		
	</div>
	
</div>

<!--
<div class="section-2" style="background-color: #EB8842; color: #ffffff">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-lg-9 col-lg-push-3 col-md-8 col-md-push-4 col-sm-7 col-sm-push-5">
				
				<h1 style="margin-bottom: 30px">Home screens are cool.</h1>
				
				<p style="margin-bottom: 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</div>
			
			<div class="col-lg-3 col-lg-pull-9 col-md-4 col-md-pull-8 col-sm-5 col-sm-pull-7">
				
				<img src="/images/home.png" class="img-responsive screenshot" style="height: 500px" />
				
			</div>
			
			
			
		</div>
		
	</div>
	
</div>
-->
<a name="beta-invite"></a>
<div class="request-beta-section text-center">
	
	<div class="container">
		
		<h1>Request Beta Access!</h1>
		
		<p style="margin-bottom: 30px">We'll notify you once your request has been approved.</p>
		
		<div class="row">
			
			<div class="col-md-8 col-md-offset-2">
		
				<form action="/request-invite#beta-invite" method="POST">
					
					<% if @errors %>
					<p style="color: #dd0000">Please enter an email address.</p>
					<% end %>
			
					<div class="row">
						<div class="col-sm-6" style="margin-bottom: 20px"><input type="email" name="email" class="form-control" placeholder="Enter your email address..." width="20" /></div>	
						<div class="col-sm-3" style="margin-bottom: 20px">
							
							<select class="form-control" name="device">
								<option>iPhone</option>
								<option>Android</option>
							</select>
							
						</div>
						<div class="col-sm-3" style="margin-bottom: 20px"><input type="submit" class="btn btn-primary btn-block" value="Request!"></input></div>
					</div>
			
				</form>
			</div>
		
		</div>
		
	</div>
	
</div>

<div class="footer text-center">
	
	<a href="mailto:contact@gethandshakeapp.com">Contact Us</a> | <a href="/terms">Terms and Conditions</a>
	
</div>