<style>
* {
	font-family:'Open Sans', sans-serif;
}

.container {
	max-width:700px;
	margin: 0px auto;
}

h1 {
	font-family:'Open Sans Bold', sans-serif;
	font-weight:bold;
	text-align:center;
}

h2 {
	font-family:'Open Sans Bold', sans-serif;
	font-weight:bold;
	text-align:center;
}

h3 {
	text-align:center;
}

.bold {
	font-family:'Open Sans Bold', sans-serif;
	font-weight:bold;
}

ol {
	display:inline-block;
	margin: 0;
	padding: 0;
	margin-left:4em;
}

li {
	margin-bottom:1em;
}
</style>

<a name="top"></a>

<div class="container">
	
<br />

<a href="/"><div style="text-align:center;background-color:#F5A623;padding:5px;"><img src="/images/handshake_logo.png" style="height:40px;position:relative;top:2px"></div></a>

<br />

<h1>Terms and Conditions</h1>

Latest Revision October 12th 2014<br /><br />

<span class="bold">PLEASE READ CAREFULLY.</span><br /><br />

These Terms and Conditions (hereinafter called “<span class="bold">Terms</span>”) are effective as of the date on which the user accepts the agreement, hereinafter referred to as (the “<span class="bold">Effective Date</span>”) between User (hereinafter referred to as “<span class="bold">User</span>”), and Handshake: Contact Sharing
 hereinafter referred to as the (“<span class="bold">Company</span>”).  By accessing the Company, the User agrees to be bound by these Terms and all applicable laws and regulations, and is responsible for compliance with any applicable local laws. <br /><br />

<span class="bold">1.	GENERAL TERMS</span><br /><br />
The Company provides its Service to the User under these General Terms<br /><br />
<ol type="a">
	<li>User represents and acknowledges that they have read the Terms, and agree to honor these Terms, and that the information the User provides the Company is accurate, complete, and is within the User’s right to use.</li>
	<li>If User is entering into these Terms on behalf of a Company or another legal entity, User represent that User have the authority to bind such entity and its affiliates to these Terms, in which case the terms “User,” shall refer to such entity and its affiliates.</li>
	<li>These Terms constitute a binding contract between User and the Company, and User acknowledges that these Terms govern the User’s use of the Company.</li>
	<li>The Company may Change the Terms or remove portions of the Agreement at any time, User should check our Privacy from time to time for any new updates. Your use of the Service will indicate your acceptance of such changes.</li>
</ol>

<span class="bold">2.	NATURE OF THE COMPANY </span><br /><br />

<ol type="a">
	<li>Nature of Services: Handshake contact Sharing is a mobile application that speeds up the process of sharing phone numbers and other information.</li>
	<li>Website Services: Users create "cards" where they insert information including name, picture, phone numbers, emails, addresses, and/or social network usernames. User is required to provide and email address and password when registering and logging in. All user data is stored on a cloud server.</li>
	<li>Grant of Rights: Subject to User compliance with the terms and conditions  the COMPANY grants User a limited, non-exclusive right to use the app, and any content and materials made available in connection with use of the Services, only for non-commercial, informational purposes and for such other purposes (and subject to such further limitations) as may be provided in this Terms  (including any additional terms applicable to a particular Service) or any instructions for use that the Company may provide from time to time.</li>
	<li>User agrees that the Content displayed through the Company is proprietary content owned by the Company, and/or its affiliates and are protected by the copyright laws of the United States, international copyright treaties, and other laws and regulations and agree that you are prohibited from making any other unauthorized use of the Content.</li>
</ol>

<span class="bold">3.	HOW MY INFORMATION IS USED</span><br /><br />
<ol type="a">
	<li>Opt-In By creating an account, User has deemed to have “opted-in” to all tracking, collection, use, and sharing permitted under our Privacy Policy. User agrees to receive emails from us periodically relating to User’s account, Company services, offers, and promotions, including third-party offers. User may change email preferences at any time in Account Settings. User consents to Company’s right to record any responses and ratings made in connection with use of the Services.</li>
	<li>Updates User must provide and keep Company up-to-date with accurate information, including name, address, credit card number and expiration date (where required). We may update User information with information a bank or credit card issuer may supply, or other information available to us. All such personal information, as well as the information provided to register, is subject to the Privacy Policy.  (See Privacy Policy)</li>
	<li>Retention Company, in its sole and absolute discretion, may terminate access to User’s account for any reason (including reasons related to unlawful or unauthorized usage). Company has no obligation to retain a record of User’s account or any data or information stored for User convenience by means of User account or the Services.</li>
	<li>Storage When using the Services, Company may permit User to store data, preferences, content or other information for User convenience.</li>
</ol>

<span class="bold">4.	 WARRANTIES</span><br /><br />

<ol type="a">
	<li>The Software app and website and  all  content, server and network elements are provided on an “as is” and “as available” basis, without any warranties of any kind to the fullest extent permitted by law, and The Company expressly disclaims any and all warranties, whether express or implied.</li>
	<li>The Company does not guarantee that the Company and content are accurate; error-free; free of viruses; or any other harmful elements. As with any Company a User may enter, caution should be used in the use of any content or materials. User will be solely responsible for any damages to User’s device or computer, or other harm.</li>
	<li>The Company excludes all liability for damages arising out of or in connection with your use of this Company. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer Company, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages.</li>
	<li>The Company does not guarantee that the Company and content are accurate; error-free; free of viruses; or any other harmful elements. As with any Company a User may enter, caution should be used in the use of any content or materials. User will be solely responsible for any damages to User’s device or computer, or other harm.</li>
	<li>The Company excludes all liability for damages arising out of or in connection with your use of this Company. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer Company, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages.</li>
</ol>

<span class="bold">5.	     THIRD PARTY COMPANYS and CONTENT </span><br /><br />
Handshake Contact Sharing may provide access to third party content, such as User-generated reviews, other content submitted by Users of the Services, and links to third-party websites. COMPANY does not: <br /><br />
<ol type="a">
	<li>undertake any obligation to review, screen, or investigate materials or other information submitted or otherwise provided by third parties (including other Users) in connection with the Services;</li>
	<li>undertake any obligation to review, screen, or investigate third parties who provide links to their websites (or the websites of other third parties) or the content of any such websites; or</li>
	<li>Endorse any positions, ideas, ideologies, concepts, objectionable third-party content or opinions contained in such third-party content. The Company is not responsible for any third party materials or other information, including whether the information is accurate or suitable or available for Users’ use, for the performance or operation of any third party websites, for any products or services advertised or sold by any third party (including on or through a third party’s websites), or for any other action or inaction by any third party.</li>
	<li>Use of any such third party websites will be subject to those terms to which User and the third party agree. Company will have the right to delete or modify any third-party content in its sole discretion.</li>
	<li>User assumes all risks arising out of or resulting from any transaction of business over the Internet, and User agrees that Company is not responsible or liable for any loss or damage resulting from use of third-party content, websites, or services.</li>
	<li>If User becomes aware of any objectionable third-party content, User may contact the Company customer service to report it. Company will address such requests if and to the extent it deems appropriate, in its sole discretion.</li>
</ol>

<span class="bold">6.	INDEMNIFICATION</span><br /><br />
User will agree to be personally liable and hold harmless the Company and/or Company and Affiliates for any and all damages directly, or indirectly, resulting from unauthorized downloading or other duplication of Content. Damages can include, but not limited to, loss of profits, property, fines, penalties, and legal fees.  The Company reserves the right to assume the defense and control of any matter otherwise subject to indemnification by you.<br /><br />

<span class="bold">7.	DMCA Policy </span><br /><br />
The Company respects the rights of others. If a User believes any content available through the Services infringes one’s rights, User must submit a complaint through our www.handshakecontactsharing.com/copyright<br /><br />

<span class="bold">8.	 ENTIRE AGREEMENT</span><br /><br />
<ol type="a">
	<li>This Agreement constitutes the entire agreement between the parties with respect to the subject matter and no representations or warranties have been made other than those expressly set forth herein.</li>
	<li>We may amend these Terms from time to time, in which case the new Terms will supersede prior versions.</li>
</ol>

<span class="bold">9.	GOVERNING LAW</span><br /><br />
The validity, interpretation and performance of these Terms shall be governed by the laws of Virginia without giving effect to the conflicts of law’s provisions or principals thereof. <br /><br />

<span class="bold">10.	CONTACTS</span><br /><br />

By providing an email address, User agrees that the Company may send emails related to the Services. If User does not wish to receive general marketing emails, User may opt out by following the instructions in the message. The Company may send any legal notices via email, notification by a message to User account or regular mail. To give legal notice to the Company, please send written communication to contact@gethandshakeapp.com.<br /><br /><br />

<hr /><br />

<h1>Privacy Policy</h1>

Latest Revision October 12th 2014<br /><br />

Handshake: Contact Sharing recognizes that its customers, visitors and users, want to know our policy on privacy.    http://gethandshakeapp.com provides this Privacy Policy hereinafter referred to as (“<span class="bold">Policy</span>”) to help you make an informed decision about whether to use or continue using the Handshake: Contact Sharing Services.  This Policy governs the manner in which Handshake: Contact Sharing collects, uses, maintains and discloses information collected from you hereinafter referred to as the ("<span class="bold">User</span>") of the Handshake: Contact Sharing services. This privacy policy applies to all products and services oﬀered by Handshake: Contact Sharing.<br /><br />

<span class="bold">1.	Personal identification information</span><br /><br />
We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, place an order, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.<br /><br />

<span class="bold">2.	Non-personal identification information</span><br /><br />
We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service provider’s utilized and other similar information.<br /><br />

<span class="bold">3.	Web browser cookies</span><br /><br />
Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.<br /><br />

<span class="bold">4.	How we use collected information</span><br /><br />
Handshake Contact Sharing may collect and use Users personal information for the following purposes:<br /><br />

<ol type="a">
	<li>To improve customer service
		Information you provide helps us respond to your customer service requests and support needs more efficiently.</li>
	<li>To personalize user experience
		We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site. *</li>
		<li>To improve our Site
 We may use feedback you provide to improve our products and services.
To run a promotion, contest, survey or other Site feature
To send Users information they agreed to receive about topics we think will be of interest to them.</li>
	<li>To send periodic emails
We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</li>
</ol>

<span class="bold">5.	WHOIS</span><br /><br/ >
We are required by the Internet Corporation for Assigned Names and Numbers ("ICANN"), the organization that assumes responsibility for domain name allocation, to collect information about you during the domain name registration process. This information includes your full name, mailing address, phone number, email address, and, where provided, your facsimile number. ICANN then requires all registrars to make your full name, mailing address, phone number, email address, and, where provided, your facsimile number, as well as the creation and expiration dates of your domain name registration and the name server information associated with your domain name, to the public via an interactive Web page and a "port 43" WHOIS service. For the purposes of this Privacy Notice we will refer to this information as your "WHOIS Information." Please note that we may not be able to control how members of the public may use the WHOIS Information.<br /><br />

<span class="bold">6.	How we protect your information</span><br /><br />
We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.<br /><br />

<span class="bold">7.	Sharing your personal information</span><br /><br />
We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.<br /><br />

<span class="bold">8.	Third party websites</span><br /><br />
Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.<br /><br />

<span class="bold">9.	Changes to this privacy policy</span><br /><br />
Handshake: Contact Sharing has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.<br /><br />

<span class="bold">10.	Your acceptance of these terms</span><br /><br />
By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.<br /><br />

<span class="bold">11.	Contacting us</span><br /><br />
We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. If you have any questions about our privacy practices or this policy, please contact us at contact@gethandshakeapp.com.<br /><br /><br /><br /><br />

<div style="text-align:center"><a href="#top" style="color:black">Back To Top</a></div><br /><br /><br />

</div>